[Unit]
Description=Keeps track of keypress frequencies, from KMonad

[Service]
Type=simple
ExecStart=/usr/local/bin/kmonad-keylogger --fifo-group=uinput

[Install]
WantedBy=default.target
